In [11]:
print("Python", "is", "fun", sep = "-")

Python-is-fun

In [14]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Your name : {name} , age: {age}")

Enter your name:  Ikramul
Enter your age:  24

Your name : Ikramul  , age: 24

In [16]:
list_1 = 1,2,3,4,5
print(list_1, sep="---")

(1, 2, 3, 4, 5)

In [ ]:
my_string = "hello world"
another_string = "Python is fun"

In [21]:
greetings = "Good evening! "
name = input("Enter your name: ")
message = greetings + name
print(message)
print(len(greetings))

Enter your name:  Ikram

Good evening! Ikram
14

In [26]:
text = "Everything is connected to everything else!! "
if "to" in text:
    print("to is present!")

to is not present in text

In [27]:
laugh = "ha"
print(laugh*3)

hahaha

In [29]:
print("hello".upper())
print("aKIBb".lower())

HELLO
akibb

In [32]:
#Slicing
text = "hello world!"
print(text[0:7])

hello w

In [34]:
text_2 = "Python Programming!"
print(text_2[7:])

Programming!

In [36]:
sen_1 = "Bangladesh is not for beginners"
print(sen_1[4])

l

In [51]:
#Python list
my_list = [1,2,3,"hello", 4,5,6]
my_list_2 = [1, "two", 3.0, [4,5]]

my_list.append(7)
my_list.insert(2, "hey!")
my_list.remove(3)

print(my_list)

for item in my_list_2:
    print(item)

[1, 2, 'hey!', 'hello', 4, 5, 6, 7]
1
two
3.0
[4, 5]

In [ ]:
#tupple

In [ ]:
#array

In [54]:
#set
my_set= {1,2,3}
another_set = {4,5,6}

set_3 = my_set.union(another_set)
set_3 = my_set.intersection(another_set)

print(set_3)

set()

In [55]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'cherry', 1, 2, 'c', 3, 'b', 'apple', 'a', 'bananas', 'John', 'Elena'}